<div class="space-y-4 p-4">
  <% BetterUi::Forms::BaseComponent::SIZES.each do |size| %>
    <div>
      <%= render BetterUi::Forms::TextareaComponent.new(
        name: "example_#{size}",
        label: "Size: #{size}",
        placeholder: "#{size.to_s.upcase} textarea",
        size: size
      ) %>
    </div>
  <% end %>
</div>
